{% extends 'base.html' %}

{% block title %}
    Users
{% endblock %}

{% block body %}
<h3>Found {{ users|length }} users:</h3>
    {% if users %}
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h3>No Users.</h3>
    {% endif %}
<div>
</div>
{% endblock %}